:root {
  font-size: 16px;

  --first-color: #383838;
  --second-color: #ddd;
  --third-color: #8a8a8a;
}

body {
  margin: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--second-color);
  color: var(--first-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  all: unset;
  background-color: #383838;
  padding: .7rem 1rem;
  margin: 1rem;
  display: inline-block;
  color: white;
  font-size: 1rem;
  border-radius: .5rem;
}

.btn:hover {
  background-color: #a02a48;
  cursor: pointer;
} 
